.add-view-card {
    position: absolute !important;
    background-color: rgba(128, 128, 128, 0.8) !important;
    width: 70rem !important;
    height: 50vh;
    margin: auto;
    overflow: auto;
    z-index: 22;
  }
  